<!DOCTYPE html>

<html>

<head>
    <title>Booling 4 Soup</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--import script files needed from Bokeh and bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"
            crossorigin="anonymous"></script>
    {{ script1 | safe }}
</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
            </li></ul>
    </div>
</nav>

<!--Header-->
<div class="jumbotron">
    <h1 class="display-6">Did Representatives' votes reflect twitter activity in their district?</h1>
    <p class="lead">
    On January 6th, 2021, violent insurrectionists stormed the US Capitol. Congress members were forced to halt their 
    ratification of the 2020 election results and flee for safety. This riot was the culmination of President Donald Trump’s 
    efforts to delegitimize the election, and the result of President Trump and his supporters’ political disinformation “stopthesteal” campaign. 
    </p>
    <p class="lead">
    From the November election up to the insurrection, speech from constituents and their representatives became increasingly polarized and inflammatory. 
    We explored two topics during this period: 
    <ul class="lead">
      <li>The extent to which Congressional Representatives’ tweets between November 3rd, 2020 and January 6th 2021 
      were reflective of their actual support of President Trump's delegitimization campaign.</li>
      <li>If representatives’ tweets reflected those of their constituents.</li>
    </ul>
    </p>
    <p class="lead">
    We used the Twitter API to analyze each Representative’s tweets in the established timeframe by assessing common keywords and performing a sentiment analysis. 
    We conducted similar analyses on constituent tweets that provide geographic data, allowing us to match accounts to Congressional Districts. Finally, we used 
    ProPublica’s API to assess how representatives voted on the ratification of Arizona’s and Pennsylvania’s election results and President Trump’s impeachment. 
    Ultimately, our website allows users to explore and compare constituents’ and Representatives’ tweets, sentiments and most commonly used words. 
    </p>
    <hr class="my-1">
</div>

<!--Pill Navigation-->
<nav id="navbar-main" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#totaltweets">Total Tweets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#uniqueusers">Unique Users Tweeting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#votes">Vote Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#congressmen">Sentiment Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#subjective">Subjective Speech</a>
    </li>
  </ul>
</nav>

<div class="container ml-2 mt-2">
  <div data-bs-spy="scroll" data-bs-target="#navbar-main" data-bs-offset="0" tabindex="0">
    <h4 id="totaltweets">How many tweets had the hashtag #StopTheSteal and where were they located?</h4>
        <p> 
        These values include the total count of tweets using <strong>#StopTheSteal</strong> per district between Nov 3, 2020 and Jan 7, 2021. 
        These data use the location provided by the user to assign the tweet to a District. Specifically, the 
        location provided by the user was matched to a place name in Twitter's place dataset, and then the bounding box of the 
        Twitter location was spatially intersected to congressional districts. If a congressional district intersected with the 
        boundaries of the Twitter location, we counted the tweet as occurring in the congressional district. Note that if multiple 
        districts intersect a given location (e.g., a town), then we counted the tweet in each district. 
        </p>
        <div style="width: 20%; display: inline-block;">
        {{ plot_dict["tweet_plot"] | safe }}
        </div>
    <h4 id="uniqueusers">How many unique users tweeted the hashtag #StopTheSteal and where were they located?</h4>
        <p>
        These data show the total number of unique users that issued a #StopTheSteal tweet between Nov 3, 2020 and Jan 7, 2021. 
        These data follow the same methods described above to identify which congressional district was associated with each user 
        location. If a user tweeted multiple times using the #StopTheSteal hashtag, they were only counted once. This map is likely 
        the best representation of the extent to which the constituents in a give district supported contesting the election results. 
        </p>
        <p>
        To see common keywords used in these tweets, zoom in and hover over a district.
        </p>
        <div style="width: 20%; display: inline-block;">
        {{ plot_dict["user_plot"] | safe }}
        </div>
    <h4 id="votes">How did congressmen vote in the election ratification?</h4>
        <p>
        This graph shows how representatives voted in the following election-related votes: 
        </p>
        <ul>
          <li> 'vote_10': Congress 117, Roll Call Vote 10, a vote to approve AZ's election results.</li>
            <ul>
              <li>Yes = Reject certification of AZ's 2020 election</li>
              <li>No = Does not reject certification of AZ’s 2020 election</li>
            </ul>
          <li>'vote_11':  Congress 117, Roll Call Vote 11, a vote to approve PA's election results.</li>
            <ul>
              <li>Yes = Reject certification of PA's 2020 election</li>
              <li>No = Does not reject certification of PA’s 2020 election</li>
            </ul>  
          <li>'vote_17': Congress 117, Roll Call Vote 17, the vote to impeach President Trump</li>
            <ul>
              <li>Yes= impeach</li>
              <li>No = not impeach</li>
            </ul>
        </ul>
        <p>
        These 3 voting behaviors are synthesized to describe a "vote summary" in which the votes are classified as:
        </p>
        <ul>
          <li class = "ml-6"><span style="color:green;">Democratic</span>:voted not to reject certification of AZ’s and PA’s election results and to impeach Trump </li>
          <li class = "ml-6"><span style="color:red;">Anti_democratic</span>:voted to reject AZ’s and PA’s election results and not to impeach Trump </li>
          <li class = "ml-6"><span style="color:gray;">Mixed</span>:did something in between "democratic" and "anti-democratic"</li> 
        </ul>
        <div style="width: 20%; display: inline-block;">
        {{ plot_dict["vote_plot"] | safe }}
        </div>
    <h4 id="congressmen">What was the sentiment behind representative's tweets?</h4>
    <p>
    The following two graphs show the percentage of positive and negative tweets tweeted by each representative for a district within our time period. 
    We've also included the common keywords that the representative used (e.g., "stopthesteal","covid"). We conducted sentiment analysis with Python's TextBlob package. 
    This is split into two parts – subjectivity and polarity. The polarity score is a float within the range –1.0 to 1.0, with values below 0 classified as negative, 
    values above 0 classified as positive, and 0 classified as neutral. These classifications were used to create the two maps reflecting the positivity and 
    negativity of the representatives’ sentiments. 
    </p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pos-tab" data-toggle="tab" href="#pos" role="tab" aria-controls="home" aria-selected="true">Positive Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="neg-tab" data-toggle="tab" href="#neg" role="tab" aria-controls="profile" aria-selected="false">Negative Tweets</a>
        </li>    
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pos" role="tabpanel" aria-labelledby="pos-tab">
        {{ plot_dict["positive_plot"] | safe }}
        </div>
        <div class="tab-pane fade" id="neg" role="tabpanel" aria-labelledby="neg-tab">
        {{ plot_dict["negative_plot"] | safe }}
        </div>
      </div>
    <h4 id="#subjective">How subjective were representative's tweets compared to its constituents?</h4>
    <p>
    The following graph compares the subjectivity of the representatives’ and constituents’ tweets. 
    As a note, anything objective sticks to the facts, but anything subjective has feelings. Objective and subjective are opposites. 
    The subjectivity score is a float within the range 0.0 to 1.0, where 0.0 is very objective and 1.0 is very subjective. Computed with TextBlob. 
    </p>
    <ul>
      <li><strong>Objective:</strong> It is raining.</li>
      <li><strong>Subjective:</strong> I love the rain!</li>
    </ul>
    <p>
    The purpose of this analysis is to compare the speech behind the representatives and their constituents. 
    To determine if they were similar or whether the representatives were more objective in their speech.
    </p>
    <ul>
      <li><span style="color:blue;">Blue:</span> means the representatives were more subjective.</li>
      <li><span style="color:red;">Red:</span> means the constituents were more subjective.</li>
    </ul>
    <div style="width: 20%; display: inline-block;">
    {{ plot_dict["reps_vs_consts"] | safe }}
    </div>
  </div>  
</div>

<!--footer section-->
<hr class="col solid">
<div id="footer" class="container-fluid ml-6 mr-3 mb-0 mt-0">
    <p>Analysis by the Booling 4 Soup team</a></p>
    <p>Data provided by Twitter and Propublica</a></p>
</div>

</body>

<script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>

</footer>


</html>